.text-pink {
    color: rgb(255, 192, 203);
}
.text-skyblue {
    color: skyblue;
}
html {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}
h1 {
    font-family: "sans-serif"; 
    font-size: 2rem
}
h1 {
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 2px 2px 2px gray;
}
#basic {
    font-weight: bold;
}